# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Packaging
*.egg-info/

# Coverage
.coverage
htmlcov/

# Virtual environment
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
tmp/
system.log
